AORC-OWP_2012063002z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063004z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063006z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063010z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063012z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063017z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063019z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063015z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063016z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063020z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063021z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063022z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063000z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063001z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063003z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063005z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063008z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063011z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063013z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063007z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063009z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063014z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063018z.nc4 filter=lfs diff=lfs merge=lfs -text
AORC-OWP_2012063023z.nc4 filter=lfs diff=lfs merge=lfs -text
